@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round';
    margin: 20px;
}
.container{
    background-color: aliceblue;
    width: 80%;
}
.titulo{
    display: inline-block;
    margin: 20px o;
    width: 30%;
    font-size: 30px;
    text-align: left;
}
.addbutton{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.table {
    color: #fff;
}

th {
    background-color: #f2f2f2;
}

.button {
    background-color: rgb(56, 156, 223);
    margin-bottom: 10px;
    
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.actions #pen {
    color: rgb(255, 153, 0);
    cursor: pointer;
}

.actions #trash {
    color: rgb(255, 0, 0);
    cursor: pointer;
}
